body {
    font-family: helvetica, sans-serif;
    text-align: center;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
  }
  
  nav ul li a:hover {
    font-size: 40px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  nav ul {
    text-align: center;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#0099ff, #0044ee);
  }
  
  nav ul:hover {
    background-image: linear-gradient(#ff6600, #ff4400);
  }
  
  .intro {
    top: 0;
    background: #006e85;
    min-height: 55vh;
    padding-top: 45vh;
    font-size: 30px;
  }

  .me h1 {
    padding: 20px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  .reach-me {
    margin-top: 60px;    
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .work {
    padding-top: 60px;
    margin-top: -60px;
  }
  
  .contact {
    padding: 100px;
    display: inline-block;
  }

  .contact img {
    width: 100%;
    height: 180px;
    padding-left: 5px;
  }
  
  footer {
    padding: 20px;
    background: #002e33;
    color: white;
    line-height: 40px;
  }
  
  .project-pic {
    
  }
  
  .project {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    display: inline-block;
    overflow: hidden;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
  }
  
  @media only screen and (max-width: 450px) {
    nav ul {
      text-align: center;
    }
  
    nav ul li {
      margin: 20px;
    }
  
    .project {
      margin: 40px 0;
    }
  }