.world {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
  font-size: 50px;
  background:linear-gradient(#0099ff, #06d8d8);
}

.email {
  grid-column: 2 / 2;
  font-size: 40px;
  overflow: auto;
}

body {
  background: linear-gradient(#19d8d8, #66c2ff, #ff9696);
/*  background: linear-gradient(#0059b3, #ff1a1a);*/
}

#main-content {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 60px;
}

.page {
  grid-column: 2 / 3;
  grid-row: 1 / 6;
  display: grid;
  grid-gap: 40px;
  margin-top: 35px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

nav h2 {
  padding: 30px 5px 30px 5px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: black;
}

nav a:visited:hover {
  color: white;
}

footer {
  background: #1aa3ff;
}

.page h2 {
  font-size: 40px;
}

img {
  padding: 5px;
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

p {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

.prolang i {
  text-align: center;
  width: 100%;
}

.prolang p {
  font-weight: bold;
  font-size: 30px;
}

.pro-list {
  visibility: hidden;
}



/* cell phone */

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .world {
    width: 405px;
}

.email {
  font-size: 12px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row: 2 / 2;
  font-weight: 600;
}

nav {
  display: none;
}

.pro-list {
  visibility: visible;
}

.pro-list a:visited {
  color: black;
}

.pro-list a:link {
  text-decoration: none;
  color: black;
}

.pro-list a:hover {
  color: white;
}

#main-content {
  grid-column: 1 / 2;
}

.page {
  grid-column: 1 / 2;
}

footer {
width: 405px;
}
}

/* ipad */

@media only screen and (min-width: 767px) and (max-width: 1023px) {

  nav {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 13% 22% 14% 14% 20% 17%;
  }

  #main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .page {
    grid-column: 100%;
    grid-row: 1 / 6;
    margin-top: 150px;
  }

  .email {
    font-size: 22px;
    font-weight: bold;
  }

}
