.world {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(#0099ff, #66ffff);
}

.email {
  grid-column: 2 / 3;
  font-size: 30px;
}

body {
  background: linear-gradient(#66ffff, #66c2ff, #ffcccc);
/*  background: linear-gradient(#0059b3, #ff1a1a);*/
}

#main-content {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 60px;
}

.page {
  grid-column: 2 / 3;
  grid-row: 1 / 6;
  display: grid;
  grid-gap: 40px;
  margin-top: 35px;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

nav h2 {
  padding: 30px 5px 30px 5px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: black;
}

nav a:visited:hover {
  color: white;
}

footer {
  background: #1aa3ff;
}

.page h2 {
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: Helvetica;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
}

.prolang i {
  text-align: center;
  width: 100%;
}

.prolang p {
  font-weight: bold;
  font-size: 30px;
}
