body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.project-img img {
  height: 340px;
  width: auto;
  margin: 0 auto;
  border: solid black 6px;
}

.project-img {
 padding-top: 50px;
}

.pic-box {
  display: inline-block; 
  padding: 0px 20px;
}

h3 a {
  text-decoration-color:black;
  color: black;
}

h3 a:hover {
  text-decoration-color: #ff533c;
  color: #ff533c;
  transition-duration: .7s;
}

header {
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman';
  padding: 1%;
  background-color: rgb(58, 58, 58);
}

h1 {
  color: white;
}

h2 {
  padding-bottom: 40px;
}

h3 {
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 10;
}

p {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .project-img img {
    height: 150px;
    width: 100%;
  }
}
